.signin-component{
    margin: 50px auto;
    background-color: white;
    width: 20em;
    height: 25em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    padding-top: 40px;
}

.my-signin-heading{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.my-signin-inputs{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 18em;
    box-shadow: 1px 2px 3px lightgray;
    letter-spacing: 2px;
    padding-left: 20px;
}

.my-signin-btn{
    display: block;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 18em;
    box-shadow: 1px 2px 3px lightgray;
    letter-spacing: 2px;
    margin-top: 40px;
    font-weight: bold;
    /* background-color: green; */
}

.my-signin-link{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
}

.my-signin-link2{
    text-decoration: none;
}
